@use "../abstracts/variables" as *;
@use "../layout/buttons";
@use "../layout/main-section";
@use "../layout/menu";
@use "../layout/header";

body,html{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body{
    display: grid;
    grid-template-rows: 15em 13em auto;
    background-image:
    linear-gradient(rgba(5,5,9, .95),rgba(85,111,170, 0)), url('../assets/bgblueweb.png');
    background-repeat: no-repeat;
}
.potrait-background{
    background-image: url(../assets/bgfaceblue.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 300px;
    width: 300px;
    bottom: -2px;
    opacity: 75%;
    
}
